/* GLOBAL STYLES */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Public Sans', sans-serif;
    font-size: 10px;
}

body {
    width: 100%;
}

p {
    font-size: 1.6rem;
    color: var(--grayish-blue);
    line-height: 1.6;
}

section {
    padding: 5rem 0;
}

.container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2.5rem;
}

/* VARIABLES */
:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

/* UTILITY CLASSES */
.u-mb-small {
    margin-bottom: 1.6rem;
}

.u-mb-medium {
    margin-bottom: 3rem;
}

.u-mb-large {
    margin-bottom: 5rem;
}

/********** HEADER STYLES ***********/
/********** HEADER STYLES ***********/
/********** HEADER STYLES ***********/

header {
    width: 100%;
    height: 7.5rem;
    padding: 2.5rem 0;
    background-color: var(--white);
    position: relative;
    z-index: 9999999;
}

.logo {
    height: 2.3rem;
}

.check {
    display: none;
}

.hamburger {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-ul li {
    list-style: none;
    margin: 0 1.5rem;
} 

li a {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--grayish-blue);
    padding-bottom: 2rem;
    position: relative;
}

li a:hover {
    color: var(--dark-blue);
}

nav ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .3rem;
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all .3s;
}

nav ul li a:hover::before {
    opacity: 1;
    transform: scaleX(1);
}

.btn {
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
    padding: 1.3rem 3rem;
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    border-radius: 5rem;
    opacity: 1;
    transform: scaleX(1);
    transition: all .2s;
}

.btn:hover {
    opacity: .8;
    transform: scaleX(1.1);
}


/***********  MEDIA QUERRY  *****************/
/***********  MEDIA QUERRY  *****************/
/***********  MEDIA QUERRY  *****************/

/* MOBILE RESPONSIVE MENU QUERIES */
@media screen and (max-width: 832px) {
    .btn {
        display: none;
    }

    .hamburger {
        display: inline-block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
    }

    .hamburger img {
        width: 3rem;
    }

    .nav-ul {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        padding: 1rem 0;
        margin-top: 4rem;
        background-color: var(--white);
        border: 1px solid skyblue;
        border-radius: .3rem;
        transform: translateY(-200%);
        transition: all .5s;
        z-index: 999;
    }

    .nav-ul li {
        padding: 1rem 0;
        font: 1.6rem;
    }

    li a {
        color: var(--dark-blue);
        font-weight: 400;
    }

    li a:hover {
        color: var(--lime-green);
    }

    nav ul li a:hover::before {
        opacity: 0;
    }

    /* SLIDE THE MENU WHEN THE HAMBURGER IS CLICKED */

    #toggle:checked ~ .nav-ul {
       transform: translateY(1%); 
    }

    #toggle:checked ~ .hamburger {
        border: 1px solid red;
        border-radius: .3rem;
        padding: .4rem;
    }
}